#left
{
    position: relative;
    float: left;
    height: 100%;
    width:20%; 
    
}
#right
{
    height: 100%;
    position: relative;
    float: left;
    width:80%; 
}
#top
{
    height: 10%;
    background-color: Black;
    color: white;
}
.navbtn
{
    height:25%;
    width: 100%;
    background-color: lightsalmon;
}
#wel
{
    margin: 0%;
    padding: 1.5%;
    font-size: 200%;
    float: left;
    position: relative;
}
#dt
{
    margin: 0%;
    padding: 1.5%;
    font-size: 200%;
    float: right;
    position: relative;
    color: white;
}
#att,#ser
{
    display: none;
}
td,th,table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 33%;
}
table{
    padding: 3%;
}
#ser>p{
    font-size:30px;

}